header {
  display: flex;
  justify-content: center;
}
.menu {
  background-color: #d33e43;
  width: 80%;
}
ul {
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li {
  border-right: white 1px solid;
  text-align: center;
  width: 100%;
}

li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  color: darkred;
}
